<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="text-bold bg-zinc-900 w-full h-full text-white p-10">
    <div class="flex justify-end w-full">
      <a class="bg-red-500 rounded-md px-3 py-2 text-sm inline-block mb-5 " href="/logout">Logout</a>
    </div>
    <div class="flex items-start gap-3">
      <div class="w-10 h-10 rounded-md">
        <img src="/images/uploads/<%=user.profilepic%>" class="w-full h-full" alt="">
      </div>
      <h3 class="text-3xl mb-5">
        <span class="font-light">Hello <%= user.name %>🫡</span>
       </h3>
    </div>
    

     <h5 class="mb-5 mt-3">You can Create a  New Post</h5>
     <form action="/post" method="post">
       <textarea class="w-1/3 resize-none bg-transparent border-2 border-zinc-800 rounded-md outline-none p-3 block" name="content" placeholder="What's on your mind?"></textarea>
       <input type="submit" class="bg-blue-500 w-40 rounded-md px-3 py-2 block mt-2 text-sm" value="Create New Post">
     </form>
     <div class="posts mt-20">
      <h3 class="text-zinc-200">Your Posts.</h3>
      <div class="postcontainer mt-5">
        <% user.posts.reverse().forEach((post) => { %>
         <div class="post w-1/3 p-4 mb-4 rounded-md border-[1px] border-zinc-700 bg-zinc-800">
          <h4 class="text-blue-500 mb-2"><%= user.username %></h4>
          <p class="text-sm tracking-tight "><%= post.content %></p>
          <small class="mt-2 inline-block"><%= post.likes.length %> Like</small>
          <div class="btns flex gap-4 mt-1">
            
            <a href="/like/<%= post._id%>" class="text-blue-500">
              <%= post.likes.indexOf(user._id) ? "Like" : "Unike" %>
            </a>
            <a href="/edit/<%= post._id%>" class="text-zinc-600">Edit</a>
          </div>
        </div>
        <% }) %>
        
      </div>
     </div>
  </div>
</body>
</html>